@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:wght@400;500;600;700;800;900&display=swap');
// =================Variables=================

$white:#fff;
$black: #000;
$color-blue:#32324e;
$color-yellow:#ffa737;
$color-red: #bb1a23;
$color-falcon: #86626e;
$gray: #efefef;
$light-gray: #fafafa;
$color-dark:#191b22;
$color-golden:#bcaf8e;
$sec-red: #bca;


$Lato: 'lato';
$Raleway: 'Raleway', sans-serif;
$Mulish: 'Mulish', sans-serif;


// =================Partials & Imports=================


@mixin respond-to($breakpoint) {
     @if $breakpoint=="xxs" {
        @media screen and (max-width: 600px) {
            @content;
        }
    }

    @else if $breakpoint=="xs" {
        @media screen and (max-width: 767px) {
            @content;
        }
    }
    @else if $breakpoint == "smm" {
        @media screen and (max-width: 991px) {
            @content;
        }
    }
    @else if $breakpoint == "sm" {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }
    @else if $breakpoint == "md" {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }
    @else if $breakpoint == "lg" {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
}
/*-----------default-css-----------*/
body{
    font-family:Acumin Pro;
    background: $white;
    font-weight: normal;
    color: $gray;
    font-size: 16px;
    line-height: 1.2;

    a{
        color: $gray;
        &hover{
            color: $color-golden ;
        }
    }
    a:hover,
    a:focus{
        outline: none;
        text-decoration: none;
    }
    ol,
    ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    h1{
        font-size: 52px;
        font-weight: 600;
        margin: 0 0 30px;
        line-height: 66px;
    }
    h2{
        font-size: 40px;
        color: $color-dark;
        font-weight: 700;
        margin: 0 0 20px;
    }
    h3{
        font-size: 22px;
        font-weight: 700;
        color: $color-golden;
        margin: 0 0 15px;
        text-transform: uppercase;
        line-height: 25px;
    }
    h4{
        font-size:25px;
        color: $white;
        font-weight: 700;
        margin: 0 0 20px;
    }
    h5{
        font-size: 16px;
        color: #b9ac8c;
    }
    h6{
        font-size: 21px;
        color: $black;
        font-weight: 700;
    }
    p{
        font-size: 15px;
        font-family: Lato;
        color: $black;
        line-height: 30px;
        margin: 0 0 30px;
        font-weight: normal;
        a{
            color: $color-red;
            font-weight: 600;
        }

    }
    input{
         margin:10px 0;
    }

   
}
.default_btn{
    a{
        background: $color-golden;
        padding: 14px 26px;
        color: $white;
        display: inline-block;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
/*        @include transition();*/
        &:hover{
            color: $white;
            background: $color-golden;
            opacity: 0.8;
/*            @include transition();*/
        }
    }
}
.default_btn_2{
    a{
        background: $black;
        padding: 14px 26px;
        color: $white;
        display: inline-block;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
/*        @include transition();*/
        &:hover{
            color: $white;
            border: 1px solid;
            background: none ;
/*            @include transition();*/
        }
    }
}

.heading-border{
    width: 50px;
    border: none;
    border: 2px solid $color-golden ;
    margin: 0 auto;
}
.heading-border.leftBod{ 
    margin: 0 ;
}
.heading-border.whiteBod{ 
    border: 2px solid #fff;
}

/*-----------top-header-----------*/
.top-header{
    padding: 7px 0;
}
.top-header .row{
    align-items: center;
}

.top-header ul li{
   display: inline;
  padding: 0 10px;
}
.social ul li{
   display: inline;
   padding: 0 5px;
}
.top-header a{
    color: #000;
}
.btn_quote{
    float: right;
}
.btn_quote a {
    font-size: 15px;
    font-weight: 700;
    padding: 13px 16px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #fff;
    background: #b9ac8c;
    text-transform: uppercase;
}
.social {
    padding: 0px;
    display: inline-block;
    line-height: 27px;
}  
.SocialQuote {
    display: flex;
    justify-content: right;
}
 .top-header h5{
    display: inline;
}
.social li a:hover {
    color:$color-golden;
}



/*-----------header-----------*/

.logo {
    margin: 23px 0; 
    img{
        width: 200px;
        transition: width 2s, 0.5s ease-in-out;
    }
    
}
header {
    position: fixed;
    width: 100%;
    z-index: 99999999999;
    background-color: $color-dark;
}
.sticky {
     animation: slide-down 0.5s;
    top: 0;
    width: 100%;
    background: $color-dark;
    height: auto;
    .logo {
        margin: 23px 0;
        img{
            width: 200px;
           
        }
    }
    #cssmenu ul li > a{
        line-height: 86px;

    }
    #cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile{
        line-height: 25px;
    }

    }
    @keyframes slide-down {
    0% {
        opacity: 1;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}
nav{position:relative;}
.main-menu {
    position: relative;
    z-index: 9;
    text-align: right;

}
header .button {
    display: none;
    padding: 15px;
    color: #fff;
}
.main-menu .nav-ul {
    margin-bottom:0; 
    padding-left: 0;
}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none; line-height: 81px;/* display:block; */position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding: 0;}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu > ul > li {
    display: inline-block;
    margin: 0;
     margin-right: 30px;
    vertical-align: middle;
}
#cssmenu ul li:last-child {
    margin-right: 0px;
}
#cssmenu ul li > a {
    font-size: 16px;
    text-decoration: none;
    color: $white;
    text-transform: capitalize;
    padding: 0;
    display: inline-block;
    font-weight: normal;
}
#cssmenu ul li:hover > a, #cssmenu ul li.active a {
    color: $white;
    background: transparent;
    &:before {
    content: "";
    bottom: -1px;
    width: 50px;
    left: -1px;
    height: 4px;
    background: #bcaf8e;
    position: absolute;
   }
}
#cssmenu ul li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''; display: none;}
#cssmenu ul li.has-sub > a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;display: none;}
#cssmenu ul li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul{position:absolute;left:-9999px;background: $white;padding: 10px 0px;border-top: 2px solid $color-red;}
#cssmenu ul ul li{margin: 0;text-align: left;}
#cssmenu ul ul li:hover{}
#cssmenu li:hover > ul {
    left: auto;
    margin-top: 0px;
    box-shadow: 0px 12px 10px rgba(0, 0, 0, 0.22);
}
#cssmenu li:hover > ul > li{/* height: 40px; */margin: 0;}
#cssmenu ul ul ul{margin-left:100%;top:0px}
#cssmenu ul ul li a {
    padding: 5px 10px;
    min-width: 260px;
    width: 100%;
    font-size: 15px;
    text-decoration: none;
    color: $black;
    border: none; 
    word-break: break-word;
    line-height: 25px !important;
    display: block;
/*    @include transition(@display: );*/
    text-transform: capitalize;
}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
    color: #ffffff;
    background: transparent;
    border: none;
    color: $color-red;
}


#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{border:none;color: #fff;}
#cssmenu ul ul ul li.active a{border-left:1px solid #003471}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #003471}


@media screen and (max-width:991px){
    .header_fixed .nav-ul {
    background: #01172e !important;
}
.header_fixed .button.button {
    top: 10px;
}
#cssmenu ul li > a {
    border: none;
}
#cssmenu ul li:hover > a, #cssmenu ul li.active a {
    color: #fff;
/*    @include transition();*/
    border: none;
}
.main-menu .nav-ul {
    padding-top: 150px !important;
}
.main-menu {
    float: right;
    border: none;
    padding: 0;
    text-align: left;
}
header.sticky{
    .main-menu .nav-ul {
        padding-top: 70px !important;
        li{
            line-height: 25px !important;
        }
    }
}
.nav-ul {
    width:0px !important;
    /*    display: block !important;*/
    padding: 0 0 20px !important;
    background: #000000 !important;
    position: fixed !important;
    right: 0px !important;
    height: 100vh;
/*    @include transition();*/
}
.nav-ul  .submenu-button{
    opacity: 0;
}
.nav-ul.open {
    right: 0px !important;
    width: 300px !important;
/*    @include transition();*/
    top: 0;
    height: 100%;
    z-index: 999;
}
.nav-ul.open  .submenu-button{
    opacity: 1;
    transition: 0.3s ease-in-out;
}
#cssmenu li:hover > ul{left:auto;border-top:none;}
#cssmenu ul li > a{padding: 7px 16px;}
nav{width:100%;}
#cssmenu{width:100%}
#cssmenu > ul {
    width: 100%;
    display: none;
    padding: 0 0 20px;
    overflow-y: scroll;
        top: 0;
}
#cssmenu ul li{width:100%;border-top:none;display: block;}
#cssmenu ul li:hover{background:transparent;}
#cssmenu ul ul li,#cssmenu li:hover > ul > li{height: auto;border-color:  #000;}
#cssmenu ul li a, #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
}
#cssmenu > ul > li {
    display: block;
    line-height: 40px;
    padding: 0;
}
#cssmenu ul ul li a{padding-left:16px}
#cssmenu ul ul li{background: $color-dark !important;}
/*#cssmenu ul ul li:hover{background:#363636!important}*/
#cssmenu ul ul ul li a{padding-left:35px}
#cssmenu ul ul li a{color: #fff;background:none;z-index: 9;line-height: 20px;border: none;}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color: #009fd9;}
#cssmenu ul ul, #cssmenu ul ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
    border: none;
    padding: 0;
}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
#cssmenu #head-mobile {
    display: block;
    padding: 23px;
    color: #333;
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    right: 0;
    text-align: left;
}
header .button.button {
    width: 60px;
    height: 43px;
    position: absolute;
    right: 0;
    top: 22px;
    left: 0;
    cursor: pointer;
    z-index: 12399994;
    display: block;
    margin: 0 0 0 auto;
    background: $white;
/*    @include transition();*/  
    
}
header .button:after{position:absolute;top: 20px;right: 13px;display:block;height: 9px;width: 35px;border-top: 2px solid $black;border-bottom: 2px solid $black;content:'';}
header .button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top: 13px;right: 13px;display:block;height:2px;width: 35px;background: $black;content:'';}
header .button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top: 21px;border:0;height:2px;/* width: 23px; */background: $black;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
header .button.menu-opened:before{top: 21px;background: $black;/* width: 22px; */-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
#cssmenu .submenu-button{position:absolute;z-index:99;right:0;top: 1px;display:block;border-left: none;height: 40px;width: 40px;cursor:pointer;}
#cssmenu .submenu-button.submenu-opened{background: $color-dark;}
#cssmenu ul ul .submenu-button{height: 28px;width: 30px;}
#cssmenu .submenu-button:after{position:absolute;top: 19px;right: 12px;width: 14px;height:2px;display:block;background: #e8e8e8;content:'';}
#cssmenu ul ul .submenu-button:after{top: 13px;right:13px;}
#cssmenu .submenu-button.submenu-opened:after{background: #fff;}
#cssmenu .submenu-button:before{position:absolute;top: 13px;right: 18px;display:block;width:2px;height: 14px;background: #e8e8e8;content:'';}
#cssmenu ul ul .submenu-button:before{top: 10px;right:16px;}
#cssmenu .submenu-button.submenu-opened:before{display:none}
#cssmenu ul ul ul li.active a{border-left:none}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
#cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover{border:none; }

}

/*-----------home_banner-----------*/

.home_banner{
    background:linear-gradient(to bottom, rgba( 28, 28, 28, 0.52), rgba(29, 29, 29, 0.73)), url(../img/home-bannerbg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    max-height: 800px;
    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: -0%;
        background-color: #4a4747a8;
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
        height: 100%;
        opacity: 0.8;

    }
    .home-banner-img{
        position: relative;
        bottom: 0px;
    }
    .home-banner-heading{
        padding: 136px 0 0;
    h1{
        font-size: 52px;
        font-weight: 600;
        margin: 0 0 30px;
        line-height: 66px;
        color: $white;
    }
    h4{
        margin: 0 0 15px;
        color: $white;
    }
   }

    p{
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0 0 20px;
        color: $white;
    }
    img{
        
    }
    
}
/*-------------home_Etr----------------*/
.home_Etr{
    position: relative;
    top: -80px;
    
    .EtrBox{
        background: $color-dark;
        display: flex;
        padding: 25px 20px;
        height: 175px;
        width: 33%;

        &:hover{
            cursor: pointer;
            background-color:$color-golden ;
            img{
               filter: brightness(0) invert(1);
            }
        }
        img{
            width: 80px;
            height: 80px;
            object-fit: contain;
            position: absolute;
            padding: 15px;
        }
        .EtrText {
            padding: 15px;
            padding-left: 95px;
            h4 {
                margin: 0 0 5px;
                
            }
            p{
                margin: 0;
                font-size: 14px;
                line-height: 20px;
                color: $white;
            }
        }
    }
}

/*-------------Home-about----------------*/

.Home-about{

      margin: 0 0 100px;

    .About-case {
    background-color: #bcaf8e;
    padding: 30px  25px;
    position: absolute;
    bottom: 0;
    border: 5px solid;
        h1{
            margin:0;
            font-weight: 500;
        }
        h4{
            margin: 10px 0 10px;
            font-size: 26px;
            font-weight: 500;
        }
   }
   img{
    padding-left: 20px;

   }

     h3{
       text-align: left;
       position: relative;
       margin: 0 0 20px 0;
       &:before {
            content: "";
            bottom:-8px;
            width: 50px;
            height: 2px;
            background: $color-golden;
            position: absolute;

       }
    }
    h2{
        margin: 0 0 10px ;
 
    }
    p{
        color: #5c5c5c;
        margin: 0 0 20px;
   }

}

/*-------------Practice-areas----------------*/

.Practice-areas{
    background: url(../img/practice-areas-bg.jpg) no-repeat;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $white;
        opacity: 0.7;
                
        }
    
    .Practice-box {
        text-align: center;
        position: relative;
        margin: 0 0 30px;
        &:before{
            content: '';
            background-color: #000;
            transition: background-color 0.3s ease;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
        }
        &:hover{
            &:before{
                background-color: rgba(188, 175, 142, 0.7);
                transition: background-color 0.3s ease;
            }
            h4, p{
                color: #000;
            }
            .heading-border{
                border-color: $black;
            }
        }
        img {
            width: 100%;
        }
        .PracticeText {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            padding: 20px;
        }
    }
    h3{
        margin: 0 0 20px;
    }
    h2{
        text-align: center;
        margin: 20px 0 40px;
    }
    h4{
        margin: 0 0 20px;
    }
    p{
        margin: 20px 0 0;
        color: $white;
    }
      
}

/*-------------Trusted-clients----------------*/

.Trusted-clients{
     background: url(../img/counter-bg.jpg) no-repeat;
     background-size: cover;
     background-attachment: fixed;
     padding: 100px 0;
     position: relative;

     &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #191b22;
        opacity: 0.7;
                
        }
    .clients{
        display: flex;
        justify-content: space-between;
        li{
            margin-right: 40px;
            padding: 25px 0 25px;
            border-right: 2px solid $color-golden;
            width: 100%;
        }
        h1{
            margin: 0 0 5px;
        }
        p{
            color: $color-golden;
            margin: 25px 0 0;
        }
    }
}

/*-------------Meet-team----------------*/

section.Meet-team {
    padding: 100px 0;
    background-color: #fafafa;
    text-align: center;
    h3{
        margin: 0 0 15px;
    }
    h2{
        margin: 20px 0 30px;
    }
    .Team-box{
        width:100%;
        &:hover{
            .Team-img{
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: $color-golden;
                    opacity: 0.5;
                }
            }
        }
        .Team-img{
            position: relative;
            background-color: $white;
          margin: 0 0 20px;
        }
        .Team-text{
            h6{
                color:$black;
                font-weight: 700;
                margin: 0px;
            }
            p{
                color:$color-golden;
                margin: 0;
            }
        }
    }
}

/*-------------call-action----------------*/

.call-action{
    background: url(../img/callto-action-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 100px 0;
    position: relative;
        &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #191b22;
        opacity: 0.7;
                
        }

    h2{
        color: $white;
    }
    P{
        color: $white;
    }
}

/*-------------Home-testimonial----------------*/

.Home-testimonial{
    background-color:$color-golden ;
    padding: 100px 0;
    height: 455px;

    .Testimonial-text{
        position: relative;

        h3{
            margin: 0 0 5px;
            text-align: left;
            color: $white;
        }
        h2{
            margin: 20px 0 30px;
            color: $white;
        }
    }

    .no-js .owl-carousel, .owl-carousel.owl-loaded {
        display: block;
        
    }
    .Testimonial-box{
        background-color: $white;
        padding: 25px;
        border: 2px solid $color-golden;
        &:hover{
            box-shadow: 2px 3px 8px 3px rgba(0, 0, 0, 0.3);
        }
        .Testimonial-img{
            display: inline-block;
            float: left;

            img{
                width: 120px;
                height: 120px;
                border-radius:50%;
            }
        }
        .Testimonial-box-text{
            display: inline-block;
            margin: 30px 13px 40px;
            h4{
                margin:0 0 5px;
                a{
                    color: $black;
                }
            }
        }
    }

}

/*-------------Our-blog----------------*/

.Our-blog{
    background-color:$light-gray;
        padding: 170px 0 100px;
        text-align: center;
        h2{
            margin: 10px 0 30px;
        }

        .BlogBox{
            text-align: left;

        &:hover{
            .BlogImg{
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: $color-golden;
                    opacity: 0.7;
                }
            }
        }
            .BlogImg{
                position: relative;
            }
            .BlogText{
                ul{
                    li{
                        display: inline-block;
                        color:$black;
                        margin: 20px 0 20px;
                        a{
                            color:$color-golden;
                        }
                    }
                 }
                h6{
                    margin: 0 0 30px;
                }
            }
        }
}

/*-------------Social-logos----------------*/

.Social-logos{
    padding: 100px 0;
    .logos{
    ul{ 
      li{
        display: inline;
        margin-left: 53px;
      }
    }
  }
}

/*-------------Free-consultation----------------*/
.Free-consultation{
    background: url(../img/map.jpg) no-repeat;
    position: relative;
    background-size: cover;
    &:after {
        position: absolute;
        content: ''; 
        background: linear-gradient(to right,#212121 50%,transparent 50%);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .consultation-form {
        z-index: 9999;
        position: inherit;
        padding: 100px 0;
        h2{
            margin: 20px 0 25px;
            color:$white;
        } 
        .form-group{
            textarea::placeholder{
               color: $white; 
            }
            input::placeholder{
              color: $white;
            }
            .form-control {
                width: 90%;
                background: transparent;
            }
            .btn {
                background: $color-golden;
                padding: 14px 26px;
                color: $white;
                display: inline-block;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 14px;
                text-align: center;
                margin: 30px 0 0;
                border-radius: 0px;
                &:hover{
                    color: $white;
                    background: $sec-red;
                }
            }
        }
    }
}




/*-------------footer----------------*/

footer{
    background: url(../img/footer-bg.jpg) no-repeat;
    padding: 100px 0;
    position: relative;
    background-size: cover;
    & a:hover {
       color:$color-golden ;
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #191b22;
        opacity: 0.9;
                
        }
    .Footer-logo{
        img{
            margin:0 0 30px ;
        }
         p{
            color:$white;
         }
         &:before {
            content: "";
            bottom: 35px;
            width: 166px;
            height: 2px;
            background: #bcaf8e;
            position: absolute;
        }
         ul{
            li{
                display:inline;
                margin-left: 10px;
            }
         }
      }
      .Footer-menu{
        h6{
            margin: 0 0 25px;
            color: $white;
        }
            ul{
                li{
                    margin: 0 0 10px;
                    line-height: 20px;
                    font-size: 14px;
                    i{
                       color: $color-golden; 
                    }
                }
            }
        }
        .Footer-contact{
        h6{
           margin: 0 0 25px;
           color: $white;
      }
           ul{
                li{
                    margin: 0 0 10px;
                    line-height: 20px;
                    font-size: 14px;
                    i{
                       color: $color-golden; 
                    }
                }
            }
 
     }   

}
.footer-bottom{
        background-color: #000000;
        text-align: center;
        .copyright{
            p{
              margin: 0;
              padding:20px 0;
              color: $white;
            }
        }
     }

/*-----------------------Media Queries--------------------*/
@include respond-to(md){
    .top-header{
     .SocialQuote{
        .default_btn{
            a{
              padding: 14px 16px;   
            }
        }
    }
}
.home_banner{
        .home-banner-img{
            position: absolute;
            bottom: 0;
            width: 74%;
          }
        .home-banner-heading{
              padding: 125px 0 136px;
        }
    }

}
@include respond-to(sm){
    .top-header{
        ul{
            li{
                margin-left: 15px;
                padding: 0;
                font-size: 15px;
            }
        }
        .SocialQuote{
            .social{
                padding: 0 5px;
            }
           .btn_quote{
              display: none;
           }
        }
}
    .home_banner{
        margin: 0 0 100px;
        .home-banner-img{
            position: absolute;
            bottom: 0;
        }
        .home-banner-heading{
            padding: 136px 0 70px;
        }
    }

    .home_Etr{
        top: 0px;
        margin: 0 0 100px;

        .EtrBox{
            padding: 25px 20px;
            height: auto;
            text-align: revert;
            img{
                padding: 0px 0 20px;
            }
          .EtrText{
               padding: 91px 0 0px;

            }
        }
    }

    .Home-about{
        .About-case{
            bottom: 115px;
        }
        h2{
            font-size: 35px;
        }
    }

    .Practice-areas{
        .Practice-box{
            height: 268px;
            .PracticeBg{
                display: flex;
                height: 268px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

    }
    .Trusted-clients{
        .clients{
            li{
                padding: 25px 4px 25px;
                margin-right: 24px;
            }
        }
    }
    .Meet-team{
        .Team-box{
           width:100%;
        }
    }
    .Social-logos{
        .logos{
             ul{
                li{
                    display: inline-block;
                    margin: 29px 25px 0px
                }
            }
        }

    }

}
@include respond-to(xs){
   .top-header{
    display: none;
        ul{
            li{
                margin-left: 15px;
                padding: 0;
                font-size: 15px;
            }
        }
        .SocialQuote{
            .social{
                padding: 0 5px;
            }
           .btn_quote{
              display: none;
           }
        }
}
    .home_banner{
        margin: 0 0 100px;
        .home-banner-img{
            position: absolute;
            bottom: 0;
        }
        .home-banner-heading{
            padding: 109px 0 51px;
            h1{
                font-size: 36px;
                line-height: 44px;
            }
        }
    }

    .home_Etr{
        top: 0px;
        margin: 0 0 100px;

        .EtrBox{
            padding: 25px 20px;
            height: auto;
            width: 100%;
            text-align: revert;
            img{
                padding: 15px 0 0px;
            }
          .EtrText{
                padding: none;

            }
        }
    }

    .Home-about{
        .About-case{
            bottom: -100px;
        }
        h2{
            font-size: 35px;
        }
        .Home-about-text {
            padding-top: 146px;
        }
    }

    .Practice-areas{
        .Practice-box{
            height: 295px;
            .PracticeBg{
                display: flex;
                height: 295px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .PracticeText{
                h4{
                    font-size: 21px;
                }
            }
        }

    }
    .Trusted-clients{
        .clients{
            li{
                padding: 25px 9px 25px;
                margin-right: 24px;
                h1{
                    font-size: 43px;
                }
            }
        }
    }
    .Meet-team{
        .Team-box{
           width:100%;
        }
    }
    .Our-blog{
        .BlogBox{
            .BlogText{
                ul{
                    li{
                        font-size: 13px;
                    }
                }
            }
        } 
    }

    .Social-logos{
        .logos{
             ul{
                li{
                    display: inline-block;
                    margin: 29px 25px 0px
                }
            }
        }

    }
    .Free-consultation{
        &:after {
        position: absolute;
        content: ''; 
        background: linear-gradient(to right,#212121 100%,transparent 50%);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      .consultation-form{
        text-align: center;
        hr{
            margin: 0 auto
        }
        .form-group{
            .form-control{
                width: 100%;
            }
        }
      }
    }
    .Home-testimonial{
        height: auto;
        .Testimonial-text{ 
            margin: 22px 13px 5px;
            h2{
                font-size: 28px;
            }
            .default_btn_2 a{
                padding: 14px 19px;
            } 
        }
        .Testimonial-box{
            .Testimonial-img img{
                width: 100px;
                height: 100px;
            }
        }
    }
    footer{
        text-align: center;
        .Footer-logo{
            &:before {
                content: "";
                bottom: 65px;
                width: 166px;
                height: 2px;
                background: #bcaf8e;
                position: absolute;
            }
            margin: 0 0 30px;
        }
        .Footer-menu{
            margin: 0 0 30px;
        }
    }

}
@include respond-to(xxs){
       .top-header{
    display: none;
        ul{
            li{
                margin-left: 15px;
                padding: 0;
                font-size: 15px;
            }
        }
        .SocialQuote{
            .social{
                padding: 0 5px;
            }
           .btn_quote{
              display: none;
           }
        }
   }

   header .button.button {
    width: 60px;
    height: 43px;
    position: absolute;
    right: 0;
    top: -64px;
    left: 0;
    cursor: pointer;
    z-index: 12399994;
    display: block;
    margin: 0 0 0 auto;
    background: $white;
}
    .home_banner{
        margin: 0 0 50px;
        .home-banner-img{
            position: initial;
            width: 50%;
            margin: 0 auto;
        }
        .home-banner-heading{
            text-align: center;
            padding: 109px 0 51px;
            h1{
                font-size: 36px;
                line-height: 44px;
            }
        }
    }

    .home_Etr{
        top: 0px;
        margin: 0 0 50px;

        .EtrBox{
            padding: 25px 20px;
            height: auto;
            width: 100%;
            text-align: revert;
            img{
                padding: 15px 0 0px;
            }
          .EtrText{
                padding: none;

            }
        }
    }

    .Home-about{
        margin: 0 0 50px;
        .About-case{
            bottom: -100px;
        }
        h2{
            font-size: 35px;
        }
        .Home-about-text {
            padding-top: 146px;
            text-align: center;
            h3{
                text-align:center;
                &:before {
                    content: "";
                    bottom: -8px;
                    width: 50px;
                    height: 2px;
                    background: #bcaf8e;
                    position: absolute;
                    left: 44%;
                }
            }
            hr{
                margin: 0 auto;
            }
        }
    }

    .Practice-areas{
        padding: 50px 0;
        h2{
            font-size: 30px;
            margin: 30px 0 20px;
        }
        .Practice-box{
            height: 295px;
            .PracticeBg{
                display: flex;
                height: 295px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .PracticeText{
                h4{
                    font-size: 21px;
                }
            }
        }

    }
    .Trusted-clients{
        padding: 50px 0;
        text-align: center;
        .clients{
            text-align: center;
            display: inline-block;
            li{
                border-bottom: 2px solid #bcaf8e;
                border-right: 0;
                padding: 25px 9px 25px;
                margin: 0 0 10px;
                h1{
                    font-size: 43px;
                }
                hr{
                    margin: 0 auto;
                }
            }
        }
    }
    .Home-testimonial{
        padding: 50px 0;
        .Testimonial-text{
            margin: 22px 13px 35px;
        }
        .owl-prev span{
            color: #fff;
            padding: 4px 19px;
            text-align: center;
            font-weight: bold;
            border: 1px solid;
            font-size: 22px;
            position: absolute;
            left: 70px;
            bottom: -20px;
        }
        .owl-next span{
                color: #fff;
                padding: 4px 19px;
                text-align: center;
                font-weight: bold;
                border: 1px solid;
                font-size: 22px;
                position: absolute;
                left: 4px;
                bottom: -20px;
            }
    }
    .Meet-team{
        padding: 50px 0 !important;
        h2{
            font-size: 30px;
        }
        .Team-box{
            margin: 0 0 40px;
            width:100%;
        }
    }
    .call-action{
        padding: 50px 0;
    }
    .Our-blog{
        padding: 50px 0;
        margin: 24px 0;
        h2{
            font-size: 30px;
        }
        .BlogBox{
            margin: 0 0 30px;
            .BlogImg img{
                width: 100%;
            }
            .BlogText{
                ul{
                    li{
                        font-size: 13px;
                    }
                }
            }
        } 
    }

    .Social-logos{
        padding: 50px 0;
        .logos{
             ul{
                li{
                    display: inline-block;
                    margin: 29px 25px 0px
                }
            }
        }

    }
    .Free-consultation{
        .consultation-form{
            padding: 50px 0;
            h2{
                font-size: 30px;
            }
        }
    }
    footer{
        padding: 50px 0;
    }

}